osbProjONE/Resources/getInveOnHand_RS.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/getInveOnHand_BS" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="getInveOnHand_RS">RestService</doc>
   <grammars>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/apps/osbAppSBUX/osbProjONE/getInveOnHand_BS" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/getInveOnHand_BS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/getInveOnHand_BS" schemaLocation="getInveOnHand_BS_table.xsd"/>
      </schema>
   </grammars>
   <resources>
      <resource path="/getInveOH">
         <method name="GET" soa:wsdlOperation="getInveOnHand_BSSelect">
            <request>
               <param name="pItemId" style="query" soa:expression="$msg.getInveOnHand_BSSelect_inputParameters/top:pItemId" default="" type="xsd:decimal"/>
               <param name="pSubInv" style="query" soa:expression="$msg.getInveOnHand_BSSelect_inputParameters/top:pSubInv" default="" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:MtlOnhandSyncVCollection" xmlns:cns="http://xmlns.oracle.com/pcbpel/adapter/db/top/getInveOnHand_BS"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
